.submitForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 270px;
}

.submitTitle {
  font-size: 20px;
  margin-bottom: 35px;
  margin-top: 35px;
}

.label {
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.input {
  width: 210px;
  border-radius: 5px;
  border: 1px solid rgb(56, 55, 55);
  padding: 7px 10px;
}

.btn {
  cursor: pointer;
  font-size: 16px;
  color: rgba(9, 9, 66, 0.892);
  margin-left: 0;
  margin-right: auto;
  margin-top: 15px;
  border: none;
  border-radius: 50px;
  padding: 6px 20px;
  width: 130px;
  background-color: rgba(186, 186, 251, 0.892);
}

.btn:hover,
.btn:focus {
  box-shadow: rgba(186, 186, 251, 0.892) 0px 3px 8px;
}

@media screen and (min-width: 768px) {
  .input {
    width: 270px;
  }
}

@media screen and (min-width: 1440px) {
  .btn {
    font-size: 18px;
  }
}
