.container {
  width: 800px;
  margin-left: 80px;
  margin-right: 100px;
  border: 1px solid rgb(225, 247, 225);
  background-color: rgb(250, 249, 248);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding-bottom: 50px;
  /* height: 100vh; */
}

.header {
  display: flex;
  height: 95px;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  position: sticky;
  background-color: rgb(217, 246, 219);
  padding-left: 100px;
  padding-right: 100px;
}
