.navigation {
  display: flex;
  justify-content: flex-end;
}

.navLink {
  font-size: 18px;
  font-weight: 400px;
  line-height: 1;
  text-decoration: none;
  color: rgb(56, 55, 55);
}

.navLink:hover {
  text-decoration: underline;
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.loginRegisterContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;

  -webkit-animation: text-focus-in 3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.login,
.register {
  font-size: 16px;
  font-weight: 500px;
}

.register::before {
  content: '';
  width: 2px;
  height: 100%;
  background-color: rgb(56, 55, 55);
  position: absolute;
  left: -10px;
  bottom: 0px;
  flex-shrink: 0;
}

.active {
  text-decoration: underline;
  color: rgba(9, 9, 66, 0.892);
}
