.navigation {
  display: flex;
  justify-content: space-between;
}

.navLink {
  font-size: 32px;
  font-weight: 500px;
  text-decoration: none;
  color: rgb(56, 55, 55);
}

.navLink:hover {
  text-decoration: underline;
}

.loginRegisterContainer {
  display: flex;
  gap: 30px;

  margin-right: 25px;
}

.login,
.register {
  font-size: 20px;
  font-weight: 500px;
}

.register {
  position: relative;
}

.register::before {
  content: '';
  width: 2px;
  height: 100%;
  background-color: rgb(56, 55, 55);
  position: absolute;
  left: -15px;
  bottom: 0px;
  flex-shrink: 0;
}

.active {
  text-decoration: underline;
  color: rgb(28, 113, 49);
}
