.form {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  width: 350px;
  padding: 20px 15px;
}

.label {
  margin-bottom: 5px;
}

.input {
  width: 240px;
  padding: 8px 12px;
  margin-bottom: 20px;
}

.btn {
  width: 120px;
  padding: 10px 10px;
  background-color: aliceblue;
  border-color: rgb(248, 246, 246);
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(221, 248, 239);
}
