.phoneList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 65px;
  list-style: none;
}

.contact_item {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
  border-bottom: 1px solid rgba(186, 186, 251, 0.892);
}

.contact_item:hover {
  color: rgba(9, 9, 66, 0.892);
  font-weight: 600;
}

.delete_btn {
  background-color: rgba(186, 186, 251, 0.892);
  border: none;
  cursor: pointer;
  padding-top: 6px;
  border-radius: 50px;
  margin-bottom: 5px;
}

.delete_btn:hover {
  box-shadow: rgba(186, 186, 251, 0.892) 0px 3px 8px;
}

@media screen and (min-width: 768px) {
  .deleteContactIcon {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .deleteContactIcon {
    width: 22px;
    height: 22px;
  }

  .phoneList {
    width: 890px;
  }
}
