.phoneList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact_item {
  display: flex;
  width: 380px;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
}

.contact_item:hover {
  text-decoration: underline;
}

.delete_btn {
  background-color: aliceblue;
  border-color: rgb(248, 246, 246);
  cursor: pointer;
  padding: 5px;
}

.delete_btn:hover {
  background-color: rgb(221, 248, 239);
}
