.userMenuContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 25px;
  position: relative;
}

.userMenuContainer::before {
  position: absolute;
  content: '';
  width: 2px;
  height: 100%;
  background-color: rgba(9, 9, 66, 0.892);
  left: -10px;
  bottom: 0px;
  flex-shrink: 0;
  
}

.userMenuMail {
  margin: 0;
  font-size: 14px;
  color: rgba(9, 9, 66, 0.892);
}

/* .userMenuMail:hover,
.userMenuMail:focus {
  text-decoration: underline;
} */

.userMenuButton {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  padding: 6px 20px;
  background-color: rgba(186, 186, 251, 0.892);
}

.userMenuButton:hover,
.userMenuButton:focus {
  box-shadow: rgba(186, 186, 251, 0.892) 0px 3px 8px;
}

.exitIcon {
  fill: rgba(9, 9, 66, 0.892);
}

@media screen and (min-width: 1440px) {
  .exitIcon {
    width: 23px;
    height: 23px;
  }

  .userMenuButton {
    font-size: 18px;
  }

  .userMenuMail {
    font-size: 18px;
  }
}
